.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.name_{
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}
.role {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin: -5% 0;
  line-height: 1.2em;
  text-align: center;
}
.social {
  width: 100%;
  text-align: center;
  margin-top: 15%;
}
.iconSocial {
  margin-left: 4%;
  cursor: pointer;
}
.buttonDiv_ {
  width: 100%;
  height: 100%;
  text-align: center;
}
.download {
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1.5px solid #fff;
  width: 55%;
  height: 25%;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 20%;
  cursor: pointer;
}